html, body {
  font-family:'Palatino', sans-serif; font-size: 14px; padding: 0; margin: 0; height: 99%; overflow: wrap; text-align: center; color: #fff;
;}
a{color: #fff; text-decoration:underline;}
a:hover{color: #449EE4; text-decoration:underline;}
.trans{-webkit-transition: opacity 0.7s linear; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out;}
#default{position: absolute; z-index: 1; top: 0; left: 0; width: 100% !important; height: 100% !important; margin: 0; padding: 0;}
.container{position: absolute; z-index: 2; top: 0; left: 0; width: 100% !important; height: 100% !important; margin-top: 0px; margin-left: auto; margin-right: auto; padding: 0; }
#nameHolder{margin-top: 17.5%;color:#fff; position: relative;}
#aboutHolder{margin-top: 16%;color:#fff; position: relative;}
#name{font-size: 500%; font-weight: 600;   overflow: wrap;}
#subname{font-size: 40px; line-height: 53px; color: #ccc;}
#subname a{font-size: 30px; padding-left: 14px; padding-right: 14px;}
.subabout{font-size: 40px; font-weight: 600; color: #449EE4; margin-top: 16px;}
.subsubabout{margin-top: 16px; color: #449EE4;}
.subsubabout a{color: #449EE4; text-decoration: none;}
.subsubabout a:hover{color: #fff; text-decoration: none;}
.copy{color: #ccc; font-size: 10px; position: fixed; bottom: 0px; left: 0px;}
.lead{font-size: 20px; text-decoration: none; color:#ccc}
@media only screen and (max-width: 768px) {
  body { font-size: 16px; }
}
@media only screen and (max-width: 320px) {
  body { font-size: 10px; }
}
@media only screen and (max-width: 428px) {
	#name-container{margin-top: 25%;}
	#about-container{margin-top: 10%;}
}
@media only screen and (min-width: 428px) {
	#name-container{margin-top: 25%;}
	#about-container{margin-top: 10%;}
}
hr {
  position: relative;
  bottom: 0px;
  color: #ccc;
  width: 28%;
  height: 1px
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.avatar {
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover
}
/*
ul.list-social li.social-github a {
    background-color: #24292E;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .26);
}

ul.list-social li.social-github a:hover {
    background-color: #000
}

ul.list-social li.social-email a {
    background-color: #E34C41;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .26);
}

ul.list-social li.social-email a:hover {
    background-color: #d73925
}
 */
